<div class="container">

  <h1 class="mt-3">Vroom Vroom</h1>

  <% if user_signed_in? %>
    <h6 class="text-primary mt-2">Vous êtes déjà connecté</h6>
    <div class="row mt-1">
      <%= link_to "mes écuries", teams_path, class: "mt-3 vroom-btn-lg vroom-green btn btn-primary btn-lg btn-block" %>
      <%= link_to ui_kit_path, class: "mt-3 vroom-btn-lg vroom-green btn btn-primary btn-lg btn-block" do %>
        <div class="vroom-inmod btn btn-lg btn-block">
          <span class="green-text">ui kit vroom vroom</span>
        </div>
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete, class: "mt-3 vroom-btn-lg vroom-red btn btn-primary btn-lg btn-block" do %>
        <div class="vroom-inmod btn btn-lg btn-block">
          <span class="red-text">déconnexion</span>
        </div>
      <% end %>
    </div>
  <% else %>
    <h6 class="text-primary mt-2">Vous voulez jouer ?</h6>
    <div class="row mt-1">
       <div class="col-2"></div>
       <%= link_to "Créez un compte", new_user_registration_path, class: "mt-3 vroom-btn-lg vroom-green btn btn-primary btn-lg btn-block" %>
    </div>
    <div class="row">
       <div class="col-2"></div>
       <%= link_to "Connectez-vous", new_user_session_path, class: "mt-3 vroom-btn-lg vroom-green btn btn-primary btn-lg btn-block" %>
    </div>
  <% end %>

</div>
