<div class="container">
  <h1 class="mt-3">Ajouter une voiture</h1>
  <%= simple_form_for @car do |f| %>
    <%= f.input :name,
                label: "Nom de la voiture",
                placeholder: "Tapez le nom de la voiture" %>
    <%= f.input :price,
                label: "Prix de la voiture par course (€)",
                placeholder: "Tapez le prix de la voiture"%>
    <%= f.submit "c'est parti", class: "ml-1 mt-3 vroom-btn-lg vroom-green btn btn-primary btn-lg btn-block" %>
  <% end %>
  <%= link_to cars_path do %>
      <button type="button" class="mr-1 mt-3 vroom-btn-lg vroom-green btn btn-primary btn-lg btn-block">
        <div class="vroom-inmod btn btn-lg btn-block">
          <span class="green-text">en fait non</span>
        </div>
      </button>
    <% end %>
</div>
